
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.link-icon {
	background-image: url(../images/icons/link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;

	&.black {
		background-image: url(../images/icons/link_black.png);
	}
}

a {
	.link-icon {
		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.link-icon {
			@include translateX(1rem);
		}
	}	
}

.attach-text {
	@include media-breakpoint-up(lg) {
		padding-left: 9.875rem;
	}
}

.attach-img {	
	transform: initial;

	@include media-breakpoint-up(lg) {
		max-width: 16.75rem;
		margin-bottom: -16.25rem;

		@include translate3d(-50%, -16.25rem, 0);		
	}
}

.about-us-link {
	padding: 1rem 2.5rem;
	color: white;
	text-decoration: none;
	font-size: .7rem;
	display: inline-block;

	@include media-breakpoint-down(sm) {
		margin-bottom: 1rem;
	}
}

.about-content {
	h3 {
		font-size: 2.25rem;
	}

	p {
		font-size: 0.75rem;
		color: #9c9c9f;
		line-height: 1.3rem;
	}

	@include media-breakpoint-down(lg) {
		margin-top: 1rem !important;
	}
}

.carousel-indicator {
	margin-top: 6rem;

	span {
		font-size: 0.75rem;
		color: $white;

		&:nth-child(1) {
			&:after {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				content: "";
				width: 2rem;
				height: 1px;
				background-color: #d2cbcb;
				margin-left: 0.5rem;
			}
		}
	}

	&.product-indicator {
		position: absolute;
		left: 50%;
		top: 12.5rem;		
		text-align: center;
		margin: 0;

		@include translateX(-50%);
	}
}

.see-more-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	color: #fff;
	padding: 1.2rem 2.5rem;
	font-weight: 700;
	font-family: $body-font;
}

// slider items//
.slick-prev::before, .slick-next:before {
	font-size: 3rem;
	opacity: 1;
	color:#dcdcdc;

	@include media-breakpoint-down(lg) {
	   display: none;
   }
}

.slick-prev {
	left:-10rem;

	@include media-breakpoint-down(lg) {
	   display: none !important;
   }
}

.slick-next {
   right: -7rem;

   @include media-breakpoint-down(lg) {
	   display: none !important;
   }
}

.slick-slide {
   margin-left: 1rem;
   margin-right: 1rem;
}

.decoration-1, .decoration-2 {
	position: absolute;
    font-family: 'Old Standard TT',serif;
    font-size: 18.5rem;
    color: #f4f4f4;
    z-index: -1;

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.decoration-1 {
	top: 48%;
    left: 34%;
}

.decoration-2 {
	top: 51%;
    left: 51%;
}