
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #content {
			top: -$header-height;
			margin-bottom: -$header-height;
		}

		#primary-menu,
		#top-btns {
			.nav-link {
				color: $white;

				&:hover {
					color: $primary;
				}
			}
		}

		@include media-breakpoint-down(xl) {
			#navbarCollapse {
				position: absolute;
				top: 100%;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.navbar-brand {
	line-height: 1;
	padding: 0;
	margin: 0;

	img {
		width: 5.0625rem;
		height: auto;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		color: $primary-menu-font-color;
		font-family: $body-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;

		@include media-breakpoint-up(lg) {
			padding-left: 1.5625rem;
			padding-right: 1.5625rem;
		}

		&:hover {
			color: $theme-color;
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {

	.nav-item {
		margin-right: 1rem;
		
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}

	.nav-link {
		color: #4f4f4f;		
		font-family: $body-font;
		font-size: 0.875rem;	
		line-height: 1;
		padding-left: 1.25rem;
		padding-right: 0;

		@include border-radius(50%);		

		&:hover {
			color: $primary;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






