
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		color: $secondary;
		font-family: $heading-font;
		font-weight: 200;
		line-height: 1;		

		@include media-breakpoint-up(md) {
			&::before {
				background-color: $secondary;
				content: "";
				display: inline-block;				
				position: relative;
				vertical-align: middle;
				height: 2px;
				width: 5rem;			
				margin-right: 1.25rem;
			}
		}
	}
}

.breadcrumb {	
	display: flex;
	font-size: 0.875rem;
	padding: 3.125rem 0;
	margin: 0;

	li {		
		&:not(:last-child) {
			padding-right: 2.75rem;
			position: relative;

			&::after {
				content: "";
				background-color: $dark;
				display: block;
				width: 1.875rem;
				height: 1px;
				position: absolute;
				right: 0.4375rem;
				top: 50%;				
			}
		}

		a {
			color: $dark;
			text-decoration: none;
		}

		&.active {
			font-weight: 500;
		}

		&:first-child {
			padding-left: 0;
		}
	}
}