
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Product
-----------------------------------------------------------------*/
.products {
	// slider items//
	.slick-prev::before, .slick-next:before {
		font-size: 1rem;
		opacity: 1;
		color: $black;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	.slick-prev {
		display: none !important; 
	}

	.slick-next {
		top: 14.8rem;
    	right: 36rem;

		@include media-breakpoint-down(lg) {
			display: none !important;
		}
	}
}

.product {
	margin-bottom: 1.875rem;
	position: relative;

	.product-image {
		position: relative;
		padding-top: 2rem;

		img {
			width: 100%;
			border-top-left-radius:1rem;
			border-top-right-radius:1rem;
		}
	}

	.product-details {
		padding: 1.875rem 2.875rem;
		z-index: 1;
	}

	.product-price {
		font-size: 1.125rem;
		font-family: $heading-font;
		font-weight: 400;
		line-height: 1;
		color: $secondary;

		del {
			color: $secondary;
			font-size: 1.125rem;
			font-weight: 500;
		}

		sub {
			font-size: 0.75rem;
			margin: 0.3rem;
		}
	}

	.product-title {
		font-weight: 400;
		margin-bottom: -0.3rem;
		font-size: 1.5625rem;

		a {
			color: $secondary;
			text-decoration: none;
		}
	}

	.product-category {
		color: #adadad;
		font-size: 0.875rem;		
		font-family: $body-font;
		line-height: 1;
		margin-top: 0.5rem;
		margin-bottom: 0.875rem;
	}
	
	.product-info {
		ul {
			margin-left: 1rem;
		}
		
		li {
			list-style: disc;
			font-size: 0.875rem;
			font-family: $heading-font;
			font-weight: 500;
		}
	}

	.product-rating {
		line-height: 1;
		color: $secondary;
		font-size: 0.875rem;

		span {
			font-family: $body-font;
		}

		i {
			color: #f6aa46;
			font-size: 0.75rem;

			&.empty {
				color: rgba(#f6aa46, 0.5);
			}
		}
	}

	.product-btns {
		opacity: 0;

		a {
			font-size: 0.75rem
		}

		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		background-color: #f7f7f7;

		.add-to-wishlist {
			background-color: $theme-color;
			border: 0;
			color: white;
		}

		.product-btns {
			opacity: 1;
		}
	}

	.add-to-cart {
		padding: .4rem 1.2rem;
		font-family: $body-font;
		font-size: 1.25rem;
		border-radius: 0.5rem;
		color: #fff;
		font-weight: 700;
		background-color: #3d3d3d;

		&:hover {
			background-color: $theme-color;
		}
	}

	.add-to-wishlist {
		position: absolute;
		right: 1rem;
		top: 1rem;
		text-align: center;
		padding: 0.5rem;
		z-index: 3;
		border: 1px solid white;
		border-radius: .5rem;
		color: #6d6d6d;
		font-size: 1.25rem;
		line-height: 1;
		width: 2.375rem;
		height: 2.375rem;
		text-decoration: none;

		@include transition(all 0.3s ease-in-out);				

		&:hover {
			color: $dark;
		}
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	font-family: $body-font;
    font-size: .875rem;
    line-height: 1;
    font-weight: 500;
    padding: 0.8rem 0.5rem;
	font-weight: 600;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
}

.onhot {
	background-color: #ff3263;
	color: $white;
}

.onnew {
	color: $theme-color;
}

.onbest {
	background-color: #8b5ec7;
	color: $white;
}

.ontop {
	background-color: #5adbde;
	color: $white;
}

.onsale {
	background-color: #bf4f4f;
	border-radius: 0.5rem;
	letter-spacing: 0.1rem;
	color: $white;
}

.banner-wishlist {
	position: absolute;
	top: 0;
	right: 0;
	color: #fe3362;
}





/* Ads
-----------------------------------------------------------------*/

.ads {
	position: relative;
	display: block;
	margin-bottom: 2.5rem;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;
	}

	&.ads1 {
		.ads-bg {
			.ads-bg-img {
				background-position: left center;
			}
		}

		.ads-body {
			padding-top: 4.375rem;
			padding-bottom: 4.375rem;
		}		
	}

	&.ads2 {
		.ads-body {
			padding-top: 3.75rem;
			padding-bottom: 3.75rem;
		}
	}
}
