
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	position: relative;	
	display: flex;
	align-items: center;

	@include media-breakpoint-up(lg) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	.fbox-icon {
		width: 6.625rem;

		@include media-breakpoint-up(lg) {
			width: auto;
			margin-right: 1.875rem;
		}
	}

	p {
		color: #4f4f4f;
		line-height: 1.2rem;
		font-size: 0.8rem;
	}

	@include media-breakpoint-up(lg) {
		&:not(:last-child):after {
			content: "";
			background-color: #d4d4d4;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;				
			width: 1px;
			height: 3rem;

			@include translateY(-50%);
		}
	}
}