
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	position:relative;

	.fbox-icon {
		img {
			height: 4.5rem;
		}
	}

	p {
		color: #4f4f4f;
		line-height: 1.2rem;
		font-size: 0.8rem;
	}

	&.border-right {
		&:after {
			position: absolute;
			right: 5rem;
			bottom: 0rem;
			content: "";
			display: inline-block;
			width: 1px;
			height: 4rem;
			background-color: #d4d4d4;

			@include media-breakpoint-down(lg) {
				width: 0;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}