.logos {
	display: flex;
	justify-content: space-between;
	
	.logo-item {
		max-width: 6.625rem;
		height: 5.25rem;
		width: 100%;
		display: flex !important;
		justify-content: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}
	}
} 