/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/


.timeline {    
    .events-wrapper {
        .events {
            position: relative;
            overflow: hidden;

            .event {
                position: relative;
            }
        }
    }
}